.city{
    -webkit-box-shadow: 1px 1px 1px 1px #EDEDED;
box-shadow: 1px 1px 1px 1px #EDEDED;}

h1{
    text-shadow: 2px 2px #EDEDED;
}

footer{
    clear:both;
    background-image: url("kuva.jpg");
}

a:link {
    color: darkslategrey;
    -webkit-transition: all 5s linear;
-moz-transition: all 5s linear;
-ms-transition: all 5s linear;
-o-transition: all 5s linear;
transition: all 5s linear;
  }

  a:hover {
    color: hotpink;
  }

  @media screen and (max-width: 900px) { body { background-color: black; color: whitesmoke }}