
body{ 
    color: white;
    background-color: black;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    }

    h1{
        font-size: 20px;
        border-style: groove;
        border-color: coral;
    }

     p{
        color:green;
        font-size: 12px;
        background-color: darkslategrey;
        border-radius: 10px;
        margin-top: 50px;
        margin-bottom: 50px;
        margin-right: 30px;
        margin-left: 30px;
        padding-top: 50px;
        padding-right: 30px;
        padding-bottom: 50px;
        padding-left: 80px;
        font-family: Arial, Helvetica, sans-serif;
    }

    .reunus{
        color: grey;
        background-color: whitesmoke;
        border-style: dotted;
        border-width: 2px;
        width: 100px;
        height: 100px;
    }
    ol {
        list-style-type: lower-latin;
    }

     ul {
         list-style-type: square;
        }

        hr { 
            display: block;
            margin-top: 0.5em;
            margin-bottom: 0.5em;
            margin-left: auto;
            margin-right: auto;
            border-style: inset;
            border-width: 1px;
          } 
header{
    color:darkslategrey;
    background-color: floralwhite;
    text-align: center;
}

nav{
    color:mediumblue;
    background-color:lightslategray;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    float: left;
    width: 20%;
}

section{
    background-color: lightcyan;
    color:rgb(2, 44, 25);
    float: right;
    width: 70%;
    padding: 5%
}

aside{
    width: 30%;
  padding-left: 15px;
  margin-left: 15px;
  float: right;
  font-style: italic;
  background-color: lightgray;
}

article{
    background-color:deepskyblue ;
}

footer{
    color:indigo;
    background-color: lemonchiffon;
    text-align:center;
    font-family: monospace;
    clear:both;

}

nav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #f1f1f1;
  }
  
 nav li a{
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
  }

  nav li a:hover{
    background-color: #555;
    color: red;
  }
